[submodule "efuse/bpftool"]
	path = efuse/bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "efuse/libbpf"]
	path = efuse/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "linux"]
	path = linux
	url = https://github.com/Chentao-Xu/linux.git
[submodule "StackFS"]
	path = StackFS
	url = https://github.com/Chentao-Xu/StackFS.git
